<h1 class="text-center my-4">All Chat Sessions</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="list-group">
        <% @chats.each do |chat| %>
          <div id="chat-<%= chat.id %>" class="list-group-item d-flex justify-content-between align-items-center">
            <a href="<%= chat_path(chat) %>" class="text-decoration-none text-dark">
              <div>
                <h5 class="mb-1"><%= chat.title %></h5>
                <small>Created at: <%= chat.created_at.strftime("%B %d, %Y %H:%M:%S") %></small>
              </div>
            </a>
            <%= link_to 'Delete', chat_path(chat), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this chat and all its contents?" }, class: "btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
